<div class="carrito">
    <h1 id="{{this.cart}}" class="{{purchaser}}">{{purchaser}} {{this.cart}}</h1>
    <ul class="product-list">
      {{#each productos}}
        <li class="product-card">
          <img src="{{this.product.thumbnail}}" alt="{{this.product.title}}" class="product-image" />
          <div class="product-details">
            <h3 class="product-title">{{this.product.title}}</h3>
            <p class="product-info"><strong>Code:</strong> {{this.product.code}}</p>
            <p class="product-info"><strong>Category:</strong> {{this.product.category}}</p>
            <p class="product-info"><strong>Price:</strong> ${{this.product.price}}</p>
            <p class="product-quantity">Cantidad: {{this.quantity}}</p>
          </div>
          <button class="remove-button">Eliminar</button>
        </li>
      {{/each}}
    </ul>
    <button class="clear-cart-button">Vaciar Carrito</button>
    <button class="buy-button" id="{{this.cart}}">Comprar</button>
  </div>

  <script src="/js/purchase.js"></script>