<h1>Carrito</h1>
<ul>
  {{#each productos}}
  <li>
    <img src="{{this.product.thumbnail}}" alt="{{this.product.title}}" style="width: 150px; border-radius: 10px; margin-left: 20px;">
    <div>
      <h3>{{this.product.title}}</h3>
      <p><strong>Code:</strong> {{this.product.code}}</p>
      <p><strong>Category:</strong> {{this.product.category}}</p>
      <p><strong>Price:</strong> ${{this.product.price}}</p>
      <p>Cantidad: {{this.quantity}} </p>
    </div>
  </li>
  {{/each}}
</ul>